html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  max-width: 100%;
}

nav {
  width: 100%;
  display: flex;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  margin: 0 auto;
  align-items: center;
  padding: 0 24px;
  border-bottom: 1px solid rgb(44, 92, 76);
  /* background-color: white; */
}

.img {
  width: 100%;
}

.logo {
  width: 160px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.text-green {
  color: rgb(44, 92, 76);
}

.btn__menu {
  background-color: transparent;
  border: none;
  font-size: 24px;
  text-align: center;
  color: rgb(44, 92, 76);
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: rgb(74, 159, 131);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
}

.menu--open .menu__backdrop {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 23px;
  /* padding: 8px; */
  color: rgb(44, 92, 76);
}

.menu__links {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  color: white;
  font-size: 18px;
}

.menu--open {
  min-height: 100vh;
  overflow-y: hidden;
}

/* +++++++++++++++++++LANDING+++++++++++++++++++++ */

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  color: rgb(57, 124, 102);
  font-size: 16px;
  padding: 8px;
  display: block;
  transition: all 200ms;
}

.nav__link:hover {
  /* text-decoration: underline; */
  transform: scale(1.2);
}

.nav__link--primary {
  border: 1px solid rgb(57, 124, 102);
  border-radius: 10px;
  transition: all 300ms;
}

.nav__link--primary:hover {
  border: 1px solid rag(57, 124, 102);
  background-color: rgb(57, 124, 102);
  color: white;
  text-decoration: none;
}

#landing {
  background-color: rgb(222, 239, 233);
}

.fa-solid,
.fa-start,
.fa-regular,
.fa-star-half-stroke {
  color: rgb(44, 92, 76);
}

.no-cursor {
  cursor: not-allowed;
}

a {
  text-decoration: none;
}

/* +++++++++++++++++++HEADER+++++++++++++++++++++ */

header {
  height: calc(100vh - 80px);
  background-color: rgb(222, 239, 233);
}

.header__container {
  /* background-color: rgb(165, 165, 165); */
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  font-size: 48px;
  color: rgb(44, 92, 76);
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 32px;
  color: rgb(44, 92, 76);
}

.btn {
  border: 1px solid rgb(57, 124, 102);
  background-color: rgb(44, 92, 76);
  color: white;
  border-radius: 10px;
  padding: 10px 24px;
  font-size: 15px;
}

.btn:active {
  transform: translateY(1px);
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__img--wrapper {
  width: 100%;
  padding: 20px;
}

.header__img--wrapper img {
  width: 100%;
  height: 100%;
  max-height: 50vh;
}

/* +++++++++++++++++++MAIN+++++++++++++++++++++ */

/* +++++++++++++++++++HIGHLIGHTS+++++++++++++++++++++ */

.container {
  padding: 56px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 16px auto;
  /* background-color: cyan; */
}

.highlight__wrapper {
  display: flex;
}

.highlight {
  padding: 0 24px;
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight__para {
  text-align: center;
  color: rgb(103, 103, 103);
}

.highlight__img {
  border: 2px solid rgba(44, 92, 76, 0.219);
  color: rgb(44, 92, 76);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 24px;
  margin-bottom: 24px;
}

.highlight__subtitle {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
}

.highlight p {
  letter-spacing: 1.5px;
}

/* #highlights::before {
  content: "haha";
  background-color: red;
} */

#highlights {
  position: relative;
}

#highlights::before {
  background: url("assets/waves (1).svg");
  position: absolute;
  content: "";
  width: 100vw;
  height: 8vh;
  top: 0;
  left: 0;
  /* z-index: 1; */
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(0);
}

#highlights::after {
  background: url("assets/waves (1).svg");
  position: absolute;
  content: "";
  width: 100vw;
  height: 5vh;
  /* top: 82.7%; */
  top: 88.6%;
  left: 0;
  /* z-index: 1; */
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

/* +++++++++++++++++++FEATURES+++++++++++++++++++++ */

#features {
  background-color: rgb(222, 239, 233);
}

.books {
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
}

.book {
  /* background-color: gold; */
  width: 25%;
  padding: 24px;
}

.book__img--wrapper {
  margin-bottom: 24px;
  /* background-color: lightgreen; */
  width: 100%;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  border: 6px solid white;
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.593);
  cursor: not-allowed;
}

.book__img {
  transition: all 200ms;
  height: 380px;
  width: 100%;

  /* width: 100%; */
}

.book__img:hover {
  transform: scale(1.03);
}

.book__title {
  font-size: 20px;
  margin-bottom: 8px;
  cursor: not-allowed;
}

.book__title:hover {
  text-decoration: underline;
}

.book__rating {
  margin-bottom: 8px;
}

.book__price--normal {
  text-decoration: line-through;
  color: rgb(255, 0, 0);
}

/* +++++++++++++++++++EXPLORE+++++++++++++++++++++ */

.row__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#explore {
  background-color: rgb(222, 239, 233);
}

/* +++++++++++++++++++FOOTER+++++++++++++++++++++ */

footer {
  background-color: rgb(44, 92, 76);
}

.footer__logo--img {
  filter: grayscale(1) invert(1);
  width: 160px;
}

.footer__link,
.footer__copyright {
  color: rgb(222, 239, 233);
}

.footer__list {
  margin: 24px 0;
}

.footer__logo {
  /* background-color: red; */
  /* display: flex; */
  line-height: 0;
}

.footer__link {
  padding: 0 8px;
}

/* +++++++++++++++++++MEDIA QUERY+++++++++++++++++++++ */

/* TABLET 768px */
@media (max-width: 768px) {
  .header__description {
    padding: 0 24px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 26px;
  }
  .btn {
    font-size: 12px;
  }
  .book {
    width: 40%;
  }
  .books {
    justify-content: center;
  }
  #highlights::after {
    /* top: 86%; */
    display: none;
  }
  #highlights::before {
    display: none;
  }
}

/* SMALL PHONE & LARGE SMART PHONE */
@media (max-width: 550px) {
  .nav__links {
    display: none;
  }

  .btn__menu {
    display: block;
  }

  .highlight {
    width: 100%;
    margin-bottom: 24px;
  }

  .highlight__wrapper {
    flex-wrap: wrap;
  }

  #highlights::after {
    display: none;
  }

  #highlights::before {
    display: none;
  }

  .book {
    width: 80%;
  }
  .books {
    justify-content: center;
  }
}

/* books page */

.books__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.books__header--title {
  margin-bottom: 0;
}
